<nz-carousel [nzAutoPlay]="true" nzEffect="fade" nzDots="false" [nzAutoPlaySpeed]="10000" [nzEnableSwipe]="false">
  <div nz-carousel-content *ngFor="let i of backgroundPanels">
    <div [ngClass]="'panel'+i"></div>
  </div>
</nz-carousel>


<form nz-form [formGroup]="loginForm" (ngSubmit)="submitForm()" class="login-form">
  <nz-form-item>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixUser">
        <input nz-input formControlName="username" placeholder="用户名/电话号码/工号">
      </nz-input-group>
      <nz-form-explain *ngIf="loginForm.get('username').dirty&&loginForm.get('username').errors">
        必须输入该项
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixLock">
        <input type="password" formControlName="password" nz-input placeholder="密码">
      </nz-input-group>
      <nz-form-explain
        *ngIf="loginForm.get('password').dirty&&loginForm.get('password').errors">
        必须输入该项
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixCaptcha">
        <input nz-input formControlName="captcha" placeholder="验证码" nz-popover
               nzTitle="验证码" [nzContent]="captchaPopover">
      </nz-input-group>
      <nz-form-explain *ngIf="loginForm.get('captcha').dirty&&loginForm.get('captcha').errors">
        必须输入该项
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <label nz-checkbox formControlName="remember">
        <span>记住登录状态</span>
      </label>
      <a class="forget-password">忘记密码</a>
      <button nz-button nzType="primary" class="login-btn">登录</button>
      <a>注册</a>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #prefixUser>
  <i nz-icon type="user"></i>
</ng-template>
<ng-template #prefixLock>
  <i nz-icon type="lock"></i>
</ng-template>
<ng-template #prefixCaptcha>
  <i nz-icon type="loading-3-quarters" [spin]="isLoadingCaptcha"></i>
</ng-template>

<ng-template #captchaPopover>
  <img class="captcha" alt="验证码" src="">
</ng-template>
