.layout {
  display: flex;
  flex-direction: column;
}

.logo {
  margin: 0 1em;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 0 1em;
}

.white-space {
  flex: 1 1 auto;
}

.research {
  margin-right: 1em;
}
